%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
%%

{erl_opts, [debug_info, 
           fail_on_warning,
           {parse_transform, lager_transform}]}.
{deps, [{nkservice, {git, "http://github.com/netcomposer/nkservice", {branch, "v09"}}},
        {prometheus, "3.2.3"}]}. 
